@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Epilogue", sans-serif;
  }
  body {
    @apply text-base;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
  }
}
input {
  @apply outline-none;
}
.quill {
  border: 1px solid #f1f1f3;
  border-radius: 10px;
  padding: 15px 25px;
  margin-top: 15px;
}
.ql-toolbar.ql-snow {
  border: none !important;
  @apply !bg-[#B2B3BD];
  @apply bg-opacity-20;
  padding: 12px 18px;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 20px;
}
.ql-container.ql-snow {
  border: none !important;
  background: none !important;
  height: 250px;
  font-size: 16px;
}
.story {
  @apply text-text3  text-base;
}
.story > p {
  @apply text-text3  text-base p-5 mb-2;
}
.story > h3 {
  @apply text-text1 font-semibold text-xl p-5 mb-5;
}
.story > h2 {
  @apply text-text1 font-semibold text-xl p-5 mb-5;
}
.story > h1 {
  @apply text-text1 font-semibold text-xl p-5 mb-5;
}
.story > img {
  @apply w-full h-[400px] object-cover rounded-lg lg:h-[500px];
}
.ReactModal__Body--open {
  overflow: hidden;
}
.scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}
